@media (min-width: 768px) {
  .bgLogin {
    background-image: url(../../img/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    object-fit: fill;
  }
}

@media (min-width: 768px) and (max-width: 991px)
{
  .formInput{
    width: 330px;
  }
}

@media (max-width: 767px)
{
  .bgLogin{
    background-color: black;
  }
}
