#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection{
  flex-grow: 1;
}

.logo{
  width: 80px;
}

.navbarFondo{
  background-color: #27121acc;
}

.nav-link{
  color: white;
  font-size: 1.2em;
  background-color: #3d5f76;
}
.nav-link:hover{
  color: #3d5f76;
  background-color: white;
}

.logoFooter{
  width: 100px;
}

.carousel{
  max-width: auto;
}
.carouselImg {
  max-height: 600px; 
  width: 100%;
  object-fit:cover;
  object-position: center;
}